<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="f_name" name="f_name" value="{{this.f_name}}" placeholder="First Name">
        <label for="f_name">First Name</label>
    </div>
</div>

<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="l_name" name="l_name" value="{{this.l_name}}" placeholder="Last Name">
        <label for="l_name">Last Name</label>
    </div>
</div>

<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="phone" name="phone" value="{{this.phone}}" placeholder="Mobile Number">
        <label for="phone">Mobile Number</label>
    </div>
</div>

<div class="col-6">
    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="email" name="email" value="{{this.email}}" placeholder="Email">
        <label for="email">Email</label>
    </div>
</div>

<div class="col-12">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="comment" name="comment" value="{{this.comment}}" placeholder="Comment">
        <label for="comment">Comment</label>
    </div>
</div>

<div class="col-12 d-grid">
    <button class="btn btn-primary" type="submit">Submit</button>
</div>